*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;
    color:white;


    font-family:'Bahnschrift', Arial, sans-serif;

    font-weight:800;

    font-stretch:condensed;

}
header{

    position:fixed;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 20px;

    background:#5bb77a;

    backdrop-filter:blur(10px);

    z-index:999;

}


.logo{

    display:flex;

    align-items:center;

    background:white;

    padding:10px 15px;

    border-radius:0 0 30px 0;

    transform:translateX(-20px);

}


.logo img{

    height:90px;

    width:auto;

    display:block;

}

nav a{

    color:white;
    

    font-size:clamp(20px, 4vw, 40px);

    margin-left:30px;

    text-decoration:none;

    font-family:'Bahnschrift', Arial, sans-serif;
}

.hero{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:url(images/hero.jpg);

    background-size:cover;
    background-position:center;

    position:relative;

}

.overlay{

    position:absolute;

    width:100%;
    height:100%;

    background:#1b1b1b;

}

.hero-content{

    position:relative;

    z-index:2;

}

.hero h1{

    font-size:80px;

    margin-bottom:20px;

}

.hero p{

    font-size:30px;

    margin-bottom:40px;

}

.button{

    display:inline-block;

    margin-top:30px;

    padding:16px 36px;

    background:#5bb77a;

    color:#000000;

    text-decoration:none;

    border-radius:8px;

    transition:.5s;
    
    font-size:30px;

}

.button:hover{

    background:#85eec2;
    color:#373736;

}

section{

    scroll-margin-top:100px;
    padding:50px 10%;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

    margin-top:50px;
    

}

.card{

    background:#1d1d1d;

    padding:30px;

    border-radius:12px;

    transition:.3s;


}


.card h3{

    font-size:30px;

}


.card p{

    font-size:18px;

    color:#ccc;

}

.card:hover{

    transform:translateY(-8px);

}


.materials-dropdown{

    margin-top:30px;

}


.materials-button{
     margin-top:30px;

    width:100%;

    padding:18px 25px;

    background:#1d1d1d;

    color:white;

    border:none;

    border-radius:12px;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    text-align:left;

    display:flex;

    justify-content:space-between;

    align-items:center;

}


.materials-button:hover{

    background:#292929;

}


#materials-arrow{

    font-size:25px;

    transition:.3s;

}


.materials-list{

    display:none;

    margin-top:10px;

}


.materials-list.open{

    display:block;

}




.material{
    background:#1d1d1d;
    padding:18px 25px;
    margin-bottom:8px;
    border-radius:8px;

    display:flex;
    flex-direction:column;

    gap:8px;
}

.material strong{
    font-size:50px;
}

.material span{
    color:#ccc;
    text-align:left;
    line-height:1.5;
    font-size:30px;
}

footer{

    text-align:center;

    padding:40px;

    color:#777;
}

footer{

    text-align:center;

    padding:40px;

    color:#777;
}


.gallery{

    position:relative;

    height:550px;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

}

.gallery::-webkit-scrollbar{

    height:8px;

}


.project{

    position:absolute;

    width:340px;

    background:#1d1d1d;

    padding:20px;

    border-radius:12px;

    display:flex;

    flex-direction:column;

    min-height:520px;

    transition:.5s;

    cursor:pointer;

}


.project img{

    height:300px;

    width:auto;

    max-width:100%;

    object-fit:contain;

    display:block;

    margin:auto;

    border-radius:10px;

}

.project h3{

    width:100%;

    margin-top:15px;

    overflow-wrap:break-word;
    

}


.project p{

    width:100%;

    color:#ccc;

    margin-top:10px;

    overflow-wrap:break-word;

    flex-grow:1;

}


.gallery-wrapper{

    position:relative;
    min-height:400px;

}



.gallery-wrapper{

    position:relative;

}


.arrow{

    background:#5bb77a;

    color:#373736;

    border:none;

    width:45px;

    height:45px;

    border-radius:30%;

    font-size:30px;

    cursor:pointer;

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    z-index:10;

}


.arrow.left{

    left:10px;

}


.arrow.right{

    right:10px;

}


.arrow:hover{

    transform:translateY(-50%) scale(1.1);

}


.dots{

    display:flex;

    justify-content:center;

    gap:10px;

    margin-top:20px;

}


.dot{

    width:12px;

    height:12px;

    background:#777;

    border-radius:50%;

    cursor:pointer;

}


.dot.active{

    background:#5bb77a;

}




@media (max-width:768px){

    header{

        padding:0 10px;

    }


    .logo{

        padding:5px 10px;

        transform:translateX(-10px);

        border-radius:0 0 20px 0;

    }


    .logo img{

        height:40px;

    }




    nav a{

         font-size: 23px;;
        margin-left:20px;

    }


    /* TITRES */

    .hero h1{

        font-size:40px;

    }


    .hero h2{

        font-size:30px;

    }


    .hero h3{

        font-size:22px;

    }


    /* TEXTE */

    .hero p{

        font-size:16px;

    }

    section{

    scroll-margin-top:30px;
    padding:50px 10%;

    }

    /* BOUTON */

    .button{

        font-size:18px;

        padding:14px 25px;

    }


    /* GALERIE */

    .gallery{

        height:520px;

    }


    .gallery-wrapper{
    width:100vw;
    margin-left:calc(50% - 50vw);
    }

    .project{

        width:260px;

        min-height:450px;

        padding:15px;

    }


    .project img{

        height:200px;

    }


    .project h3{

        font-size:20px;

    }


    .project p{

        width:220px;

        font-size:14px;

    }


    .arrow{

        width:35px;

        height:35px;

        font-size:22px;

    }


    .arrow.left{

        left:5px;

    }


    .arrow.right{

        right:5px;

    }


    .materials-button{

    font-size:18px;

    padding:15px 20px;

    }


    .material{

    flex-direction:column;

    align-items:flex-start;

    gap:5px;

    }

    .material strong{

    font-size:30px;

    }

    .material span{

    text-align:left;

    font-size:18px;

    }
    
}



@media (max-width:420px){


    nav a{

         font-size: 18px;;
        margin-left:10px;

    }
}

