*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;
    color:white;


    font-family:'Bahnschrift', Arial, sans-serif;

    font-weight:800;

    font-stretch:condensed;

}
header{

    position:fixed;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 20px;

    background:#5bb77a;

    backdrop-filter:blur(10px);

    z-index:999;

}


.logo{

    display:flex;

    align-items:center;

    background:white;

    padding:10px 15px;

    border-radius:0 0 30px 0;

    transform:translateX(-20px);

}


.logo img{

    height:90px;

    width:auto;

    display:block;

}

nav a{

    color:white;

    font-size:clamp(20px, 4vw, 60px);

    margin-left:30px;

    text-decoration:none;
    font-size:40px;
}

.hero{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:url(images/hero.jpg);

    background-size:cover;
    background-position:center;

    position:relative;

}

.overlay{

    position:absolute;

    width:100%;
    height:100%;

    background:#1b1b1b;

}

.hero-content{

    position:relative;

    z-index:2;

}

.hero h1{

    font-size:80px;

    margin-bottom:20px;

}

.hero p{

    font-size:30px;

    margin-bottom:40px;

}

.button{

    display:inline-block;

    margin-top:30px;

    padding:16px 36px;

    background:#5bb77a;

    color:#000000;

    text-decoration:none;

    border-radius:8px;

    transition:.5s;
    
    font-size:30px;

}

.button:hover{

    background:#85eec2;
    color:#373736;

}

section{

    padding:120px 10%;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

    margin-top:50px;

}

.card{

    background:#1d1d1d;

    padding:30px;

    border-radius:12px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

footer{

    text-align:center;

    padding:40px;

    color:#777;
}



.gallery{

    display:flex;

    gap:30px;

    overflow-x:auto;

    scroll-behavior:smooth;

    align-items:flex-start;

}


.gallery::-webkit-scrollbar{

    height:8px;

}


.project{

    flex:0 0 auto;

    width:340px;

    background:#1d1d1d;

    padding:20px;

    border-radius:12px;

    display:flex;

    flex-direction:column;

    min-height:520px;

}


.project img{

    height:300px;

    width:auto;

    max-width:100%;

    object-fit:contain;

    display:block;

    margin:auto;

    border-radius:10px;

}


.project h3{

    width:300px;

    margin-top:15px;

    overflow-wrap:break-word;

}


.project p{

    width:300px;

    color:#ccc;

    margin-top:10px;

    overflow-wrap:break-word;

    flex-grow:1;

}


.gallery-wrapper{

    position:relative;

}


.arrow{

    background:#5bb77a;

    color:#373736;

    border:none;

    width:45px;

    height:45px;

    border-radius:50%;

    font-size:30px;

    cursor:pointer;

    margin:20px 10px;

}


.arrow:hover{

    transform:scale(1.1);

}




@media (max-width:768px){

    /* HEADER */

@media (max-width:768px){

    header{

        padding:0 10px;

    }


    .logo{

        padding:5px 10px;

        transform:translateX(-10px);

        border-radius:0 0 20px 0;

    }


    .logo img{

        height:40px;

    }

}


    nav a{

        font-size:16px;

    }


    /* TITRES */

    .hero h1{

        font-size:40px;

    }


    .hero h2{

        font-size:30px;

    }


    .hero h3{

        font-size:22px;

    }


    /* TEXTE */

    .hero p{

        font-size:16px;

    }


    /* BOUTON */

    .button{

        font-size:18px;

        padding:14px 25px;

    }


    /* GALERIE */

    .project img{

        height:200px;

    }


    .project p,
    .project h3{

        width:250px;

    }

}